@{
    ViewData["Title"] = "University of the Free State Qwaqwa Bank";
}

<h2>University of the Free State Qwaqwa Bank</h2>

<p>The QWAQWA KOVSIE BANK was formulated as part of the University strategy to digitize its finacial services into 
    a integrated system that can simplify banking.
</p>
